# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Cache de embeddings semanticos
api/cache/service_index.json
api/cache/service_embeddings.npy
api/cache/*.npy

# Variables de entorno
.env

# Archivos temporales
*.tmp
*.bak

# Sistema operativo
.DS_Store
Thumbs.db
